* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

nav {
    background-color: #E2AB60;
    height: 50px;
}

.memory-game {
    background-color: #E2AB60;
}

.tarot-card {
    position: relative;
    margin: 2px;
    width: 80px;
    height: 140px;
}

.front-card,
.back-card {
    width: 80px;
    height: 140px;
    position: absolute;
    border-radius: 5px;
    background-color: #E2AB60;
    transform: scale(1);
}

/* Transformation on click - will be changed to a js function later */

.tarot-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
