body {
    background-color: #1D0742;
    height: auto;
}

nav {
    background-color: #F2E088;
    height: 50px;
}

.memory-game {
    background-color: #F2E088;
}

.tarot-card {
    position: relative;
    margin: 2px;
    width: 80px;
    height: 140px;
    transform: scale(1);
    transform-style: preserve-3d;
}

.tarot-card:hover {
    transform: scale(1.05)
}

.tarot-card.flipped {
    transform: rotateY(180deg);
}

.front-card,
.back-card {
    width: 80px;
    height: 140px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front-card {
        transform: rotateY(180deg);
}

footer {
    height: 30px;
    background-color: #F2E088;
}

@media only screen and (min-width: 1199) { 
    footer {
        position: sticky !important;
        margin-bottom: 0 !important;
    }
}

.tarot-card.flip {
    transform: rotateY(180deg);
  }